In [1]:
import pandas as pd
import numpy as np

In [2]:
mmt = pd.read_csv('data/mmt_initial_preparation.csv')

In [3]:
ratings = pd.read_csv('data/imdb_ratings.csv')

In [4]:
ratings.head()

      tconst  numVotes  averageRating
0  tt0114709    761501            8.3
1  tt0113497    260244            6.9
2  tt0113228     21913            6.6
3  tt0114885      8483            5.8
4  tt0113041     30470            6.0

In [5]:
ratings[ratings['tconst'] == 'tt0371724']

         tconst  numVotes  averageRating
9977  tt0371724    174231            6.8

Połączenie movies metadata z ocenami z imdb.

In [6]:
mmt = mmt.merge(ratings, left_on='imdb_id', right_on='tconst', how='left')

Oceny tak jak powyżej- jest ok.

In [7]:
 mmt[mmt['imdb_id'] == 'tt0371724']['averageRating']

2496    6.8
Name: averageRating, dtype: float64

In [8]:
mmt[mmt['imdb_id'] == 'tt0371724']['numVotes']

2496    174231
Name: numVotes, dtype: int64

In [9]:
mmt.head()

,belongs_to_collection,budget,genres,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,words_in_title,words_in_original_title,tconst,numVotes,averageRating
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,tt0114709,761501,8.3
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,tt0113497,260244,6.9
2,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",3,3,tt0114885,8483,5.8
3,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt0113277,en,17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,tt0113277,508869,8.2
4,0,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0114576,en,5.231580,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,tt0114576,29156,5.7

In [10]:
mmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5271 entries, 0 to 5270
Data columns (total 17 columns):
belongs_to_collection      5271 non-null object
budget                     5271 non-null int64
genres                     5271 non-null object
imdb_id                    5271 non-null object
original_language          5271 non-null object
popularity                 5271 non-null float64
production_companies       5271 non-null object
production_countries       5271 non-null object
release_date               5271 non-null object
revenue                    5271 non-null int64
runtime                    5271 non-null float64
spoken_languages           5271 non-null object
words_in_title             5271 non-null int64
words_in_original_title    5271 non-null int64
tconst                     5271 non-null object
numVotes                   5271 non-null int64
averageRating              5271 non-null float64
dtypes: float64(3), int64(5), object(9)
memory usage: 741.2+ KB

Usuwam dane filmy, które mają mniej niż 1000 wystawionych ocen.

In [11]:
mmt.drop(mmt[mmt['numVotes'] < 1000].index, axis=0, inplace = True)

In [12]:
mmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5154 entries, 0 to 5267
Data columns (total 17 columns):
belongs_to_collection      5154 non-null object
budget                     5154 non-null int64
genres                     5154 non-null object
imdb_id                    5154 non-null object
original_language          5154 non-null object
popularity                 5154 non-null float64
production_companies       5154 non-null object
production_countries       5154 non-null object
release_date               5154 non-null object
revenue                    5154 non-null int64
runtime                    5154 non-null float64
spoken_languages           5154 non-null object
words_in_title             5154 non-null int64
words_in_original_title    5154 non-null int64
tconst                     5154 non-null object
numVotes                   5154 non-null int64
averageRating              5154 non-null float64
dtypes: float64(3), int64(5), object(9)
memory usage: 724.8+ KB

Sprawdzam ile filmów nie ma revenue

In [13]:
print("Liczba wartości 'revenue' == 0: {}.".format(len(mmt[mmt['revenue'] == 0])))
print("Liczba wartości 'revenue' != 0: {}.".format(len(mmt[mmt['revenue'] != 0])))

Liczba wartości 'revenue' == 0: 0.
Liczba wartości 'revenue' != 0: 5154.

Sprawdzam ile filmów nie należy do serii

In [14]:
print("Liczba wartości 'belongs_to_collection' == 0: {}.".format(len(mmt[mmt['belongs_to_collection'] == '0'])))
print("Liczba wartości 'belongs_to_collection' != 0: {}.".format(len(mmt[mmt['belongs_to_collection'] != '0'])))

Liczba wartości 'belongs_to_collection' == 0: 3949.
Liczba wartości 'belongs_to_collection' != 0: 1205.

Dodawanie reżyserów i scenarzystów

In [15]:
crew = pd.read_csv('data/imdb_crew.tsv', sep='\t')

In [16]:
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [17]:
mmt = mmt.merge(crew, left_on='imdb_id', right_on='tconst', how='left')

In [18]:
mmt.head()

,belongs_to_collection,budget,genres,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,words_in_title,words_in_original_title,tconst_x,numVotes,averageRating,tconst_y,directors,writers
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,tt0114709,761501,8.3,tt0114709,nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923..."
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,tt0113497,260244,6.9,tt0113497,nm0002653,"nm0378144,nm0852430,nm0833164,nm0885575"
2,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",3,3,tt0114885,8483,5.8,tt0114885,nm0001845,"nm0573334,nm0060103"
3,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt0113277,en,17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,tt0113277,508869,8.2,tt0113277,nm0000520,nm0000520
4,0,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0114576,en,5.231580,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,tt0114576,29156,5.7,tt0114576,nm0001382,"nm0049945,nm0704164"

In [19]:
mmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5154 entries, 0 to 5153
Data columns (total 20 columns):
belongs_to_collection      5154 non-null object
budget                     5154 non-null int64
genres                     5154 non-null object
imdb_id                    5154 non-null object
original_language          5154 non-null object
popularity                 5154 non-null float64
production_companies       5154 non-null object
production_countries       5154 non-null object
release_date               5154 non-null object
revenue                    5154 non-null int64
runtime                    5154 non-null float64
spoken_languages           5154 non-null object
words_in_title             5154 non-null int64
words_in_original_title    5154 non-null int64
tconst_x                   5154 non-null object
numVotes                   5154 non-null int64
averageRating              5154 non-null float64
tconst_y                   5154 non-null object
directors                  5154 non-null object
writers                    5154 non-null object
dtypes: float64(3), int64(5), object(12)
memory usage: 845.6+ KB

Usuwam nadmiarowe id

In [20]:
mmt.drop(['tconst_x', 'tconst_y'], axis=1, inplace=True)

In [21]:
mmt.to_csv('data/mmt_initial_preparation_merged.csv', index=False)