In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
mmt = pd.read_csv('data/mmt_initial_preparation_merged.csv')

In [3]:
mmt.head()

,belongs_to_collection,budget,genres,imdb_id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,words_in_title,words_in_original_title,numVotes,averageRating,directors,writers
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,761501,8.3,nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923..."
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,260244,6.9,nm0002653,"nm0378144,nm0852430,nm0833164,nm0885575"
2,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",3,3,8483,5.8,nm0001845,"nm0573334,nm0060103"
3,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt0113277,en,17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",1,1,508869,8.2,nm0000520,nm0000520
4,0,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0114576,en,5.231580,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",2,2,29156,5.7,nm0001382,"nm0049945,nm0704164"

In [4]:
def get_number_of_json(name):
    mmt['number_of_'+name]= mmt[name].apply(lambda x: len(x.split("},")))
    mmt.drop(name, axis=1, inplace=True)

Parsowanie danych json

In [5]:
def parse_json(name, regex):
    cols = mmt[name]
    cols = cols.apply(pd.Series)
    cols = cols[0].str.split("},", expand=True)
    print("In one movie there was maximum: {} {}".format(len(cols.columns), name))
    for i in range(0,len(cols.columns)):
        cols[i] = cols[i].str.extract(regex)
        #mmt[name+str(i)] = cols[i] 
    # To know unique values
    a = cols.values.tolist()
    a = set([item for sublist in a for item in sublist])
    return(a)
    print("Number of unique {} : {}".format(name, len(a)-1)) 
    #mmt.drop(name, axis=1, inplace=True)

In [6]:
parse_json('genres', "'name': '([a-zA-Z ]+)")
#parse_json('belongs_to_collection', "'name': '([a-zA-Z ]+)")
#parse_json('production_companies', "'name': '([a-zA-Z ]+)")
#parse_json('production_countries', "'iso_3166_1': '([a-zA-Z ]+)")
#parse_json('spoken_languages', "'iso_639_1': '([a-zA-Z ]+)")

In one movie there was maximum: 8 genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western',
 nan}

In [7]:
def parse_genres():
    genres = {'Action', 'Adventure', 'Animation', 'Comedy','Crime','Documentary','Drama','Family','Fantasy','Foreign','History','Horror','Music','Mystery','Romance','Science Fiction','TV Movie','Thriller','War','Western' }
    for g in genres:
        mmt[g] = mmt['genres'].apply(lambda x: 1 if g in str(x) else 0 )

In [8]:
parse_genres()

In [9]:
get_number_of_json('production_companies')
get_number_of_json('production_countries')
get_number_of_json('spoken_languages')

In [10]:
def get_number_of_list(name):
    mmt['number_of_'+name]= mmt[name].apply(lambda x: len(x.split(",")))
    mmt.drop(name, axis=1, inplace=True)

In [11]:
def parse_list(name):
    cols = mmt[name]
    cols = cols.apply(pd.Series)
    cols = cols[0].str.split(",", expand=True)
    print("In one movie there was maximum: {} {}".format(len(cols.columns), name))
    for i in range(0,len(cols.columns)):
        mmt[name+str(i)] = cols[i] 
     #To know unique values
    a = cols.values.tolist()
    a = set([item for sublist in a for item in sublist])
    print("Number of unique {}: {}".format(name, len(a)-1)) 
    mmt.drop(name, axis=1, inplace=True)

In [12]:
get_number_of_list('directors')
get_number_of_list('writers')

In [13]:
mmt.to_csv('data/mmt_parsed.csv', index=False)

In [14]:
len(mmt[mmt['belongs_to_collection'] == '0'])

3949